.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 7rem;
  border-radius: 50%;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-container p{
    color:rgb(243, 170, 14);
    font-size: larger;
}
.nav-items {
  align-self: center;
}
.nav-items ul {
  display: flex;
  list-style-type: none;
}
.nav-items ul li {
  padding: 1rem;
}
.nav-items ul li:hover {
  cursor: pointer;
  background-color: rgb(249, 243, 226);
  border-radius: 5px;
}
.login{
 background-color:#fff ; 
  cursor: pointer;
  border: none;
  border-radius: 5px;
  /* width: ; */
  padding: 1rem;
  font-size: 15px;
 font-family: 'Courier New', Courier, monospace;
}
.login:hover{
  background-color:rgb(249, 243, 226) ;
  
}
.search-Bar {
  border-radius: 20px;
  border: 1px solid rgb(241, 211, 147);
  padding: 5px 10px;
  /* width: 50%; */
  margin: 5px 0px;
}
.btn{
  margin: 5px;
  background-color:rgb(249, 243, 226) ;
  border-radius: 10px;
  width: 150px;
  border: 1px solid rgb(241, 211, 147);
  height: 25px;
}
.btn:hover {
  cursor: pointer;
  background-color:rgb(241, 211, 147) ;
}
.rest-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  margin: 3px ;
  height: auto;
  width: 200px;
  border-radius: 10px;
  background-color: rgb(249, 243, 226);
  border: 0.5px solid rgb(241, 211, 147);
  padding: 5px;
}
.res-card:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(241, 211, 147);
}
.res-card img {
  width: 100%;
  border-radius: 5px;
}
.res-card h4 {
  margin: 1px 3px;
}

.res-card p {
  font-size: small;
  flex-wrap: wrap;
}
.footer-container {
  background-color: black;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.copyright-container {
  display: flex;
  align-items: center;
}
.footer-logo img {
  height: 7rem;
  border-radius: 50%;
}
.copyright {
  font-size: small;
  padding-left: 7px;
}
.contact-info p {
  font-size: small;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
  margin: 3px ;
  height: 400px;
  width: 200px;
  background-color: rgb(249, 243, 226); 
  border-radius: 10px;
}